body {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #333333;
    font-weight: 400;
    text-transform: uppercase;
}

h1 {
    font-family: 'PT Sans', sans-serif;
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    font-weight: 700;
}

h2 {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
    font-weight: 700;
}

.container {
    width: 1200px;
    margin: 0 auto;
    outline: 2px solid red;
}

.main-header-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.promo-block {
    background-color: #fff;
    padding: 45px 355px 50px 355px;
    text-align: center;
}


.promo-block span {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}


.promo-block p {
    margin: 0;
    margin-top: 25px;
}


.features-item {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff; 
}


.heading {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;  
}

.features-text-first {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 53px 60px 0 60px;
    text-align: center;
    background-color: #81b3d2;
}

.features-image {
    display: flex;
    flex-direction: column;
    width: 800px;
}

.features-text-second {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 58px 40px 0 40px;
    text-align: center;
    background-color: #81b3d2; 
}

.features-item-reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 247px;
}

.advantages {
    display: flex;
    flex-direction: column;
    width: 400px;
    text-align: center;
    align-items: center;
    padding: 40px 60px 56px 60px;
    background-color: #eeeeee;
}


.picture-advantages {
    display: flex;
    flex-direction: column;
    width: 400px;
    text-align: center;
    align-items: center;
    padding: 60px 50px 80px 50px;
}

.picture-advantages img {
    margin-bottom: 28px;
}


.find-us {
    text-align: center;
    background-color: #fff;
    padding-top: 50px;
}

.find-us span {
    font-size: 30px;
    line-height: 24px;
    font-weight: 700;
}

.find-us p {
    width: 438px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 50px;
}


.hotel-search {
    display: block;
    margin: 0 auto;
    width: 570px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    background-color: #766357;
    color: #fff;
}

.search-window {
    display: block;
    width: 570px;
    margin: 0 auto; 
    padding: 55px; 
}

.find-hotel {
    display: block;
    width: 460px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #81b3d2;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    color: #fff;
}


.main-footer-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 35px 130px;
}


/* Отели */

.infrastructure-block {
    width: 240px;
}

.house-block {
    width: 288px;
    margin-right: 200px;
}

.price-filter {
    width: 330px;
}

.search-filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 73px;
}

.assortment-top {
    display: flex;
    justify-content: space-between;
    padding: 30px 73px;  
}

.assortment-heading {
    width: 164px;
}

.assortment {
    display: flex;
    width: 572px;
}

.sortment {
    margin-left: 50px;
}

.assortment ul li {
    display: inline-block;
    margin-left: 30px;
}

.assortment-arrows {
    width: 240px;
    margin-left: 288px;
    text-align: right;
}

.filtered-items {
    display: flex;
    flex-direction: column;
}

.filtered-item {
    display: flex;
    flex-direction: row;
    padding: 30px 73px;
}

.place-picture {
    display: flex;
    width: 135px;
}

.place-description {
    display: flex;
    flex-direction: column;
    width: 363px;
    margin-left: 30px;
}

.place-block {
    display: flex;
    width: 258px;
    text-align: left;
}

.place-heading {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    margin-bottom: 5px;
}


.rating {
    width: 240px;
    margin-left: 288px;
    text-align: right;
}

